*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
body{
    background-color: black;
}
#header{
    width:100%;
    height:100vh;
    background-image: url('../images/background.jpg');
    background-size: cover;
    background-position: center;
 }

 .header-text{
    margin-top:20%;
    font-size: 30px;
    margin-left: 3%;
 }
.header-text h1{
    font-size:60px;
    margin-top:20px;   
}
.header-text h1 span{
    color: #ff004f;
}

/*---------------------css for small screens--------------*/
@media only screen and (max-width: 600px){
    #header{
        background-image: url('../images/background.jpg');
    }
    .header-text{
        margin-top: 100%;
        font-size: 16px;
    }
    .header-text h1{
        font-size: 30px;
    }
}